<h1 class="display-1">Hello</h1>
<h2 class="display-5">The apis that they gave me in the test to make the app did not work, so I took the trouble to use another api that returned information in a similar way, since it did not give me the salary, I calculated the salary with a random number of 1000 - 10000</h2>
<h3>https://jsonplaceholder.typicode.com/users</h3>
<h3>https://jsonplaceholder.typicode.com/users?id=3</h3>
<h2 class="display-5">I hope it is not a problem to present the test</h2>
<button
class="nav-item"
[routerLinkActive]="['link-active']"
[routerLinkActiveOptions]="{ exact: true }"
>
<a class="nav-link text-dark" [routerLink]="['/employee']">Go to employee Search</a>
</button>